* {
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  min-width: 280px;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ebebeb;
}
img {
  max-width: 100%;
  height: auto;
}
.page-header__wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page-inner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.page-main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (min-width: 320px) {
  .page-main__wrapper,
  .page-footer__wrapper {
    width: 280px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 20px;
  }
}
@media (min-width: 768px) {
  .page-main__wrapper,
  .page-header__wrapper,
  .page-footer__wrapper {
    width: auto;
    padding: 0 40px;
    margin: 0 auto;
  }
  .page-header__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .page-footer__wrapper {
    padding-top: 30px;
  }
}
@media (min-width: 1200px) {
  .page-main__wrapper,
  .page-header__wrapper,
  .page-footer__wrapper {
    width: 1100px;
    padding: 0 50px;
    margin: 0 auto;
  }
	.page-main__wrapper--color {
		background-color: #f6b431;
		padding-bottom: 30px;
		width: 1200px;
	}
}
.page-header,
.page-footer {
  min-width: auto;
  background-color: #164f80;
	font-weight: 100;
}
.page-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  /*transition: all 0.4s ease-in-out;*/
}
.page-header__logo img {
  width: 260px;
  height: 65px;
}
/*.page-header__logo:hover {
  transform: rotate(360deg);
}*/

@media (min-width: 768px) and (min-width: 1200px) {
  .page-header__logo {
    width: 20%;
  }
}
/*** toggle start ***/

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  font-size: 0;
  background-color: #de9e26;
  cursor: pointer;
  border: none;
}
.main-nav__toggle:hover {
  background-color: #de9e26;
}
.main-nav__toggle:active {
  background-color: #344d72;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 8px 0 0 #ffffff,
              0 16px 0 0 #ffffff;
          box-shadow: 0 8px 0 0 #ffffff,
              0 16px 0 0 #ffffff;
}
.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}

/*** toggle the end ***/
#container {
  width: 100%;
}
.highcharts-container {
  width: 100% !important;
}
.highcharts-root {
  margin-top: 10px;
  width: 100%;
}
.main-nav {
  position: relative;
  width: auto;
  min-height: 50px;
  background-color: #de9e26;
}
.main-nav__items,
.main-nav__user-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__user-item {
  position: relative;
}
.main-nav__item a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #de9e26;
  border-top: 1px solid #322a2a;
  border-bottom: 1px solid #1d1d1d;
  text-shadow: 0px 3px 7px #164f80;
}
.main-nav__item a[href]:hover {
  background-color: #8f5d00;
  border-top-color: #6D6E6F;
}
.main-nav__item a[href]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #757980;
  border-top-color: #757980;
}
.main-nav__user-item a {
  position: relative;
  display: block;
  padding: 17px 21px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 16px;
  padding-bottom: 14px;
  margin-left: 2%;
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
  /*.main-nav--closed .main-nav__item--active {
    display: block;
  }
  .main-nav--closed .main-nav__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }*/
  .main-nav--closed .main-nav__user-items {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    height: 305px;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    -webkit-box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
            box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    height: auto;
  }
  .main-nav--nojs .main-nav__item {
    display: block;
  }
  .main-nav--nojs .main-nav__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
  .main-nav--nojs .main-nav__user-items {
    display: block;
    background-color: #6a4d38;
  }
}
@media (min-width: 768px) {
  .main-nav {
    width: 80%;
    min-height: 70px;
    margin: 0;
  }
  .main-nav__wrapper {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 22px;
  }
  .main-nav__item a {
    padding: 0;
    border: none;
    background: none;
  }
  .main-nav__item a[href]:hover {
    background: none;
    color: #000;
  }
  .main-nav__item a[href]:active {
    background: none;
    color: #000;
  }
  .main-nav__user-item {
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .main-nav__sub-menu {
    display: none;
    position: absolute;
    min-width: 136px;
    min-height: 75px;
    top: 35px;
    left: -45px;
    list-style: none;
    background: #7d7d7db3;
    padding: 0 20px;
    padding-left: 50px;
    padding-right: 45px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    z-index: 9999;
  }
  .main-nav__sub-menu::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 80px;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid #7d7d7db3;
  }
  .main-nav__item:hover .main-nav__sub-menu {
    display: block;
  }
  .main-nav__sub-menu-item a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
  }
	.page-header__logo {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		width: 28%;
		padding-top: 3px;
	}
	.main-nav {
		width: 100%;
		position: absolute;
		top: 73px;
		left: 0;
		-webkit-box-shadow: 1px 1px 10px grey;
		        box-shadow: 1px 1px 10px grey;
	}
}

@media (min-width: 768px) and (min-width: 768px) {
  .main-nav__wrapper {
    width: 90%;
    /* 640px / 768px ~= 84% */
    max-width: 960px;
    /* 960px / .84 ~= 1142px (центровка начнётся чуть раньше 1200px) */
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .main-nav__item {
    margin-right: 0;
    position: relative;
  }
  .main-nav__item--active::after {
    right: 30px;
    left: 30px;
  }
  .main-nav__item a[href]:hover {
    color: #C9D1DB;
  }
  .main-nav__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .main-nav__user-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav__user-items {
    max-width: 160px;
    margin-left: 2%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .main-nav__user-login {
    position: relative;
    width: auto;
    height: auto;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
  }
}
.search-form {
  position: relative;
}
.search-form input {
  position: absolute;
  top: -44px;
  left: 87px;
  border: 2px solid;
  border-radius: 14px;
  padding: 8px;
  width: 49%;
  color: #fff;
  background-color: #de9e26;
}
.search-btn {
  cursor: pointer;
  width: 33px;
  height: 33px;
  position: absolute;
  top: -40px;
  left: 17px;
  background: none;
  border: none;
  font-size: 0;
}
.search-btn::before {
  background-image: url(../img/searching-magnifying-glass.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
}
@media (min-width: 768px) {
	.search-form {
		width: 50%;
	}
	.search-btn {
		top: 0;
		width: 50px;
		height: 30px;
		background-color: none;
		padding-top: 21px;
		padding-bottom: 52px;
		padding-left: 12px;
	}
	.search-form input {
		top: 15px;
		min-width: 96%;
		background-color: #164f80;
		padding-top: 9px;
		padding-bottom: 10px;
		padding-left: 18px;
		margin-top: 0;
	}
}
.page-main__description {
	display: none;
}
.page-main__promo-description {
	display: none;
}
@media (min-width: 768px) {
	.page-main__description {
		display: inline-block;
		vertical-align: top;
		width: 55%;
		margin-top: 90px;
		font-size: 14px;
		margin-right: 25px;
	}
	.page-main__promo-description {
		display: block;
		padding: 0 100px;
		font-size: 18px;
		text-align: center;
		margin-bottom: 50px;
	}
}
@media (min-width: 1200px) {
	.page-main__description {
		font-size: 18px;
		font-weight: 100;
	}
}
.popup-login__btn {
  display: block;
  width: 100%;
  height: 47px;
  background-color: #3a557c ;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
  margin-top: 30px;
  padding: 7px;
  -webkit-box-shadow: 1px 4px 10px grey;
          box-shadow: 1px 4px 10px grey;
  -webkit-transition: 1.5s all;
  transition: 1.5s all;
}
.popup-login__btn:hover {
  color: #83969f;
  background-color: #f6b431;
}
.login-popup {
  width: 300px;
  min-height: 226px;
  margin: 0 auto;
  background-color: rgb(52, 77, 113);
  color: #fff;
  position: relative;
  top: -50px;
  left: -28px;
  -webkit-box-shadow: 1px 4px 10px grey;
          box-shadow: 1px 4px 10px grey;
  -webkit-transition: 1s all;
  transition: 1s all;
}
.login-popup--closed {
  display: none;
}
.login-popup--opened {
  display: block;
}
.login-popup__wrapper {
  padding: 0 30px;
}
.login-close {
  cursor: pointer;
  width: 33px;
  height: 33px;
  position: absolute;
  right: 0;
  background: none;
  border: none;
}
.login-close::before {
  content: '\2716';
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
}
.login-popup__title {
  font-size: 1.4em;
  line-height: 25px;
  padding-top: 30px;
  margin: 0;
}
.login-popup__subtitle {
  font-size: 0.8em;
}
.login-popup__form {
  width: 100%;
}
.login-popup__form .login-popup__form-label {
  font-size: 18px;
  font-style: italic;
}
.login-popup__form input {
  border-radius: 5px;
  padding: 10px;
  width: 215px;
  margin-bottom: 16px;
}
.login-popup__form-btn {
  background-color: #f6b431;
  cursor: pointer;
  -webkit-transition: 1.5s all;
  transition: 1.5s all;
  font-size: 17px;
  text-decoration: none;
  display: block;
  padding: 8px;
  text-align: center;
  color: white;
  border: none;
  width: 100%;
  margin-top: 10px;
}
.login-popup__form-btn:hover {
  color: #83969f;
  background-color: #3a557c;
}
@media (min-width: 768px) {
	.popup-login__btn {
		display: none;
	}
	.login-popup {
		width: 280px;
		display: inline-block;
		vertical-align: top;
		margin-top: 111px;
		position: static;
		top: 0;
		left: 0;
	}
	.login-close {
		display: none;
	}
	.login-popup__form-btn {
		margin-left: 0;
	}
}
@-webkit-keyframes login {

}
@keyframes login {
	0% {top: -500px;}
	100% {top: 200px;}
}
@media (min-width: 1200px) {
	.login-popup {
		margin-left: 70px;
		animation: login 2s linear;
	}
}

.site-content {
  margin-top: 30px;
  /*border-top: 2px solid white;
  border-bottom: 2px solid white;*/
  margin-bottom: 30px;
	background-color: #f9f9f9;
}
.site-content__title a {
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  color: black;
}
.site-content__title a:hover {
  color: #164f80;
}
.site-content__item-title {
  color: #de9e26;
}
.site-content__item-text {
  display: none;
}
.site-content__item-link {
  display: block;
  text-decoration: none;
  color: #000;
  margin-top: -15px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}
@media (min-width: 1200px) {
	.site-content {
		margin-top: 0;
		padding: 0 90px;
	}
}
.inner-nav {
  display: none;
}
.inner-content {
  padding: 0 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.inner-content h2 {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: -10px;
  font-size: 1.5em;
  color: #0e395f;
}
.inner-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 100;
}
.inner-feedback {
  width: 260px;
}
.inner-feedback textarea {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 0 26px;
  margin-top: 12px;
  margin-bottom: 17px;
}
.terms-list {
  
}
.terms-list__item {
  padding: 0 20px;
  background: rgb(246, 246, 246);
  padding-top: 1px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-radius: 0 15px;
  box-shadow: 0px 4px 1px rgba(22, 79, 128, 0.28);
}
.terms-list__item-title {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  padding-top: 10px;
  padding-bottom: 6px;
  border-bottom: 1px solid grey;
  margin-bottom: 13px;
}
.terms-list__item-title time {
  font-size: 14px;
}
.terms-list__item-title a {
  text-decoration: none;
  color: red;
}
.terms-list__item-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/speech-bubble.png) no-repeat;
  background-size: 100%;
}
.terms-list__item-count {
  position: relative;
  top: 3px;
}
.terms-list__item-calendar {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 23px;
  margin-right: 5px;
  margin-top: -3px;
}
.terms-list__item-title h3 {
  margin: 0;
}
.terms-list__item-title h3 a {
  text-decoration: none;
  color: #000;
}
.terms-list__item-author {
  text-decoration: none;
  color: #164f80;
  padding: 10px;
  display: block;
}
.terms-list__item-description {
  padding-left: 30px;
  padding-bottom: 10px;
}
.terms-list__item-description span {
  font-size: 12px;
}
.terms-list__item-description p {
  margin: 0;
  margin-left:  20px;
  font-size: 16px !important;
  font-weight: 500;
}
.terms-list__item-description p::before {
  content: '';
  width: 5px;
  height: 30px;
  background-color: rgba(22, 79, 128, 0.71);
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.terms-list__item-description ol {
  font-weight: 100;
}
.terms-list__item-description img {
  width: 50%;
}
.terms-list__item-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.term-list__btn {
  text-decoration: none;
  color: #164f80;
  transition: 1s all;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid #164f80;
  margin-bottom: 5px;
}
.term-list__spec-btn {
  display: flex;
  justify-content: end;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: -10px;
}
.spec-btn__yellow {
  color: #de9e26;
}
.spec-btn__green {
  color: green;
}
.term-list__btn:hover {
  color: #de9e26;
  border-bottom: none;
}
.terms__author {
  width: 100%;
  font-size: 14px;
  font-weight: 100;
}
.terms__author a {
  display: inline-block;
  color: #164f80;
}
.discussion textarea {
  border: none !important;
  margin-top: 10px;
}
.social-panel {
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin-top:10px;
}
.inner {
  margin-right: 10px;
  position: relative;
}
.discussion_form {
  float:right;
}
.like, .dislike, .trash {
  width: 20px;
  height: 20px;
  border: 0;
  background: none;
  cursor: pointer;
}
.like::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../img/like.png) no-repeat;
  background-size: 100%;
  top: 2px;
  left: 6px;
}
.dislike::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../img/dislike.png) no-repeat;
  background-size: 100%;
  top: 2px;
  left: 6px;
}
.trash::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../img/recycling-container.png) no-repeat;
  background-size: 100%;
  top: 2px;
  left: 6px;
}
.glossary {

}
.glossary__nav-item a:hover {
  color: #000;
}
.glossary__nav-item.active {
  border-bottom: 2px solid #de9e26;
}
.glossary__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.glossary__nav-item {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
  padding-bottom: 5px;
  border-bottom: none;
}
.glossary__nav-item a {
  text-decoration: none;
  color: #164f80;
  font-weight: 600;
  display: block;
}
.glossary__content--opened {
  display: block;
}
.c-tabs-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-tabs-nav__link {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 4px;
  padding: 12px;
  color: #fff;
  text-align: center;
  -webkit-transition: color 0.3s;
          transition: color 0.3s;
  text-decoration: none;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}

.c-tabs-nav__link:last-child {
  margin-right: 0;
}

.c-tabs-nav__link:hover {
  color: #6d6d6d;
}

.c-tabs-nav__link.is-active {
  color: #f4943f;
  background-color: #164F80;
}

.c-tabs-nav__link i,
.c-tabs-nav__link span {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.c-tabs-nav__link i {
  font-size: 18px;
}

.c-tabs-nav__link span {
  display: none;
  font-size: 18px;
}

@media all and (min-width: 720px) {
  .c-tabs-nav__link i {
    margin-bottom: 12px;
    font-size: 22px;
  }
  .c-tabs-nav__link span {
    display: block;
  }
}

/**
 * Tab
 */
.c-tab {
  display: none;
}

.c-tab.is-active {
  display: block;
}

.c-tab__content {
  padding: 1.5rem;
}

/**
 * Tabs no-js fallback
 */
.c-tabs.no-js .c-tabs-nav {
  display: none;
}

.c-tabs.no-js .c-tab {
  display: block;
  margin-bottom: 1.5rem;
}

.c-tabs.no-js .c-tab:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
	.page-inner {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  margin-top: 100px;
	  margin-bottom: 100px;
	  padding: 0 40px;
	}
	.inner-content {
	  width: 58%;
	}
	.inner-nav {
	  display: flex;
	  flex-direction: column;
	  width: 43%;
	  background-color: rgba(255, 255, 255, 0.43);
	  padding: 0 30px;
	}
	.inner-nav .inner-nav__wrapper {
	  border-bottom: 1px solid grey;
	  padding-bottom: 25px;
	}
	.inner-nav .inner-nav__wrapper:last-child {
	  border-bottom: none;
	}
	.inner-feedback {
      width: 311px;
    }
    .inner-content h2 {
	  margin-top: -25px;
	  font-size: 2em;
    }
    .terms-list__item-btns {
	  flex-direction: row;
	}

}
@media (min-width: 1200px) { 
	.page-inner {
	  padding: 0 100px;
	}
	.inner-content {
	  width: 60%;
	}
	.inner-content p {
      font-size: 20px;
	}
	.inner-nav {
	  width: 30%;
	}
	.inner-feedback {
      width: 500px;
    }
    .c-tabs-nav__link.is-active::before {
	content: '';
	position: absolute;;
	width: 0; height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 15px solid #164F80;
	top: 100%;
	left: 48%;
    }
    .c-tabs-nav {
		flex-direction: row;
	}
}
@media (min-width: 1700px) {
	.page-inner {
	  padding: 0 300px;
	}
}
.wrapper {
	height: 480px;
	position: relative;
	padding: 0 50px;
	border-top: 1px dotted grey;
	border-bottom: 1px dotted grey
}
.slider {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}
.wrapper > input {
	display: none;
}
.slides {
	height: inherit;
	position: absolute;
	width: inherit;
}
.wrapper .controls {
	left: 35%;
  top: 88%;
	position: absolute;
	z-index: 3;
}
.wrapper label:after {
	border: 2px solid #164f80;
	content: " ";
	display: block;
	height: 16px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 16px;
	border-radius: 50%;
}
.wrapper label {
	cursor: pointer;
	display: inline-block;
	height: 12px;
	margin: 25px 5px 0 16px;
	position: relative;
	width: 12px;
	border-radius: 50%;
	-webkit-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
	background: #164f80;
}
.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	/*-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);*/
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-webkit-transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
	transition: opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s, -webkit-transform ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
@media (min-width: 768px) {
	.wrapper {
		height: 500px;
	}
	.slider {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.slides {
		position: static;
		opacity: unset;
		width: 31%;
		border-right: 1px dotted grey;
		margin-top: 40px;
	}
	.slides:last-child {
		border-right: none;
	}
	.wrapper .controls {
		display: none;
	}
}
.advanced-topics {
	display: none;
}
@media (min-width:768px) {
	.advanced-topics {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		/*justify-content: space-between;*/
		background-color: white;
		padding: 0;
		/*margin-bottom: 50px;*/
	}
	.advanced-topics__item {
		width: 33.33%;
		min-height: 145px;
		padding: 0 30px;
		background-color: rgba(30, 81, 125, 0.58);
	}
	.advanced-topics__item:nth-child(2n) {
		background-color: #0f3556;
	}
	.advanced-topics__item-title a {
		display: block;
		font-size: 14px;
		text-decoration: none;
		color: black;
	}
	.advanced-topics__item-title a:hover {
		color: #a4a0a0;
	}
	.advanced-topics__item-text {
		font-size: 13px;
	}
}
@media (min-width: 1200px) {
	.advanced-topics {
		padding: 0 90px;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.add-term {
	background: #f4f4f4;
	padding-top: 20px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
}
.add-term label {
	display: block;
	font-size: 20px;
	margin-top: 20px;
	color: #164f80;
	padding-bottom: 5px;

}
.add-term input[type="text"],
.add-term input[type="email"],
.add-term input[type="password"] {
  padding: 15px;
  border: 1px dotted azure;
  border-radius: 8px;
  width: 100%;
  background-image: linear-gradient(to top, #e4e7ea, #ebebeb);
}
.add-term textarea {
  padding: 15px;
  border: 1px dotted azure;
  border-radius: 8px;
  width: 100%;
  background-image: linear-gradient(to top, #e4e7ea , #ebebeb );
}
.add-term input[type="textarea"] {
  min-height: 200px;
  padding: 15px;
  border: 1px dotted azure;
  border-radius: 8px;
  width: 100%;
  background-image: linear-gradient(to top, #e3e3e3, #ebebeb);
  margin-bottom: 30px;
}
.add-term input[type="file"] {
  margin-bottom: 30px;
}
.add-term span {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.inner-form {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px dotted grey;
}
.inner-form--closed {
  display: none;
}
.inner-form--opened {
  display: block;
}
label.error {
  color: red;
  font-size: 12px;
  display: inline-block;
  float: right;
  margin-top: -75px;
}
label.error::after {
  content: '↓';
  font-size: 15px;
  margin-left: 6px;
  margin-right: 10px;
}
.breadcrumbs__nav {
  margin: 0;
  padding: 0;
}
.breadcrumbs__nav-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  font-size: 14px;
}
.breadcrumbs__nav-item:first-child::after {
  content: '→';
  width: 10px;
  height: 10px;
  font-size: 14px;
  padding-left: 15px;
}
.breadcrumbs__nav-item:last-child {
  color: grey;
}
.breadcrumbs__nav-item a {
  color: #164F80;
}
.breadcrumbs__nav-item a:hover {
	text-decoration: none;
  color: #000;
}
.login-btn__link a {
  display: block;
  margin-top: 50px;
  text-decoration: none;
  color: #164f80;
  font-size: 23px;
}


/*Page footer*/
.page-footer__text {
  color: #fff;
  font-size: 11px;
  width: 51%;
  margin-bottom: 20px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}
.page-footer__links {
  display: inline-block;
  width: 45%;
  height: 20px;
  vertical-align: top;
  margin-top: 30px;
}
.page-footer__links-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: black;
  margin-right: 5px;
}
.facebook {
  background: url('../img/facebook-like-hand-symbol-outline.png') no-repeat;
  background-size: 100%;
}
.twitter {
  background: url('../img/twitter.png') no-repeat;
  background-size: 100%;
}
.linkedin {
  background: url('../img/linkedin.png') no-repeat;
  background-size: 100%;
}
.page-footer__copy-text {
  color: #fff;
  font-size: 17px;
	line-height: 32px;
	text-align: center;
}
.mpe-logo {
	background-image: url(../img/HighSchoolCinemaEngineers.png);
	width: 181px;
	height: 47px;
}
.smpte-logo {
	background-image: url(../img/smpte.png);
	width: 88px;
	height: 60px;
	background-position-y: 2px;
}
.page-footer__copy-link {
  font-size: 0;
	background-size: 100%;
	display: inline-block;
	vertical-align: middle;;
	background-repeat: no-repeat;
	margin-left: 10px;
	margin-right: 5px;
}

@media (min-width: 768px) {
  .page-footer__text {
    font-size: 15px;
  }
  .page-footer__links {
    padding-left: 85px;
  }
}
@media (min-width: 1200px) {
	.page-footer__text {
    margin-top: 30px;
  }
	.page-footer__links {
    padding-left: 190px;
  }
}
